body {
    font-family: "HarmonyOS Sans", "Source Sans Pro", "Noto Sans", "Fira Sans", "Open Sans", Inter, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
        "Sarasa Gothic SC", "HarmonyOS Sans SC", "Source Han Sans SC", "Noto Sans CJK SC",
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        sans-serif;
}

.font-serif {
    font-family: "Tex Gyre Termes", "EB Garamond", "Source Serif Pro", "Noto Serif",
        "Times New Roman", "KingHwaOldSong-GB", "Source Han Serif SC", "Noto Serif CJK SC",
        "华文中宋", SimSun, serif;
}

.font-sans {
    font-family: "HarmonyOS Sans", "Source Sans Pro", "Noto Sans", "Fira Sans", "Open Sans", Inter, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
        "Sarasa Gothic SC", "HarmonyOS Sans SC", "Source Han Sans SC", "Noto Sans CJK SC",
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        sans-serif;
}

pre,
code {
    font-family: "LXGW Bright Code GB", "LXGW Bright Code", "Fira Code", "Fira Mono", "Jetbrains Mono", "Ubuntu Mono",
        Consolas, "Courier New", "Sarasa Mono SC", "Source Han Mono SC", "Noto Mono CJK SC", monospace;
}

.katex {
    display: contents;
}

